
@import url( "font/nanumbarungothic.css" );


html, body { margin:0; padding:0; height:100%; width:100%; }
body { font-family:'Nanum Barun Gothic', sans-serif; color:#999; font-size:1em; line-height:1; }
a { font-family:'Nanum Barun Gothic', sans-serif; color:#999; text-decoration:none; }

*, *:before, *:after { box-sizing:border-box; margin:0; padding:0; -webkit-text-size-adjust:none;}​
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ol, ul, li { list-style:none; margin:0; padding:0; }

hr { clear:both; height:0px; border:0; margin:0; visibility:hidden; }

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }










.alen_black span {
  background: #333333;
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(to bottom, #333333, #111111);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-family:'Nanum Barun Gothic', sans-serif;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border: solid #333333 1px;
  text-decoration: none;
}

.alen_black span:hover { background: #555555; text-decoration: none; }


.alen_white span {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #666;
  font-family:'Nanum Barun Gothic', sans-serif;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border: solid #ddd 1px;
  text-decoration: none;
}

.alen_white span:hover { background: #ffffff; text-decoration: none; }



.alen_subwhite span {
  background: #f2f2f2;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #999;
  font-family:Dotum;
  font-weight:100;
  font-size: 11px;
  padding: 5px 15px;
  border: solid #ddd 1px;
  text-decoration: none;
  vertical-align:middle;
}

.alen_subwhite span:hover { background: #ffffff; text-decoration: none; }


.alen_submit_button {
  background: #5078ff;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-family:'Nanum Barun Gothic', sans-serif;
  font-weight:400;
  font-size: 16px;
  padding: 10px 20px;
  border: solid #5079ff 1px;
  text-decoration: none;
  vertical-align:middle;
  cursor:pointer;
}

.alen_submit_button:hover { background: #4064de; text-decoration: none; }




.alen_mainbtn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-family:'Nanum Barun Gothic', sans-serif;
  font-weight:400;
  background: #5078ff;
  padding: 10px 20px 10px 20px;
  border: solid #5079ff 1px;
  text-decoration: none;
  cursor:pointer;
}

.alen_mainbtn:hover { background: #4064de; text-decoration: none; }


.alen_subbtn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #333333;
  font-size: 16px;
  font-family:'Nanum Barun Gothic', sans-serif;
  font-weight:400;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #e5e5e5 1px;
  text-decoration: none;
  cursor:pointer;
}

.alen_subbtn:hover { background: #e5e5e5; text-decoration: none; }






.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label { display: inline-block; padding: .5em .75em; color: #666; font-size: inherit; line-height: normal; vertical-align: middle; background-color:#fdfdfd; cursor: pointer; border:1px solid #e5e5e5; border-bottom-color: #ddd; border-radius: .25em; }

/* named upload */
.filebox .upload-name { display: inline-block; padding: .5em .75em; font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f2f2f2; border: 1px solid #e5e5e5; border-bottom-color: #ddd; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

/* imaged preview */
.filebox .upload-display { margin-bottom: 5px; }

@media(min-width: 768px) { .filebox .upload-display { display: inline-block; margin-right: 5px; margin-bottom: 0; } }
.filebox .upload-thumb-wrap { display: inline-block; width: 54px; padding: 2px; vertical-align: middle; border: 1px solid #ddd; border-radius: 5px; background-color: #fff; }
.filebox .upload-display img { display: block; max-width: 100%; width: 100% \9; height: auto; }
.filebox. bs3-primary label { color: #fff; background-color: #337ab7; border-color: #2e6da4; }









/* input select big button */
.alen_input_select { width: 20px; margin: 5px auto; position: relative; }
.alen_input_select input { visibility: hidden; }

.alen_input_select label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
	left: 0px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.alen_input_select label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 6px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.alen_input_select label:hover::after { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); opacity: 0.3; }
.alen_input_select input[type=checkbox]:checked + label:after { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }






.alen_effect .mask {
	opacity: 0;
	overflow:visible;
	vertical-align:middle;
	background:rgba(0,0,0,0.2);
	border:0;
	text-align:center;
	vertical-align:middle;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.alen_effect a.info {
	position:relative;
	top:85px;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0s ease-in-out;
	-moz-transition: opacity 0.3s 0s ease-in-out;
	-o-transition: opacity 0.3s 0s ease-in-out;
	-ms-transition: opacity 0.3s 0s ease-in-out;
	transition: opacity 0.3s 0s ease-in-out;
}
.alen_effect:hover .mask { opacity: 1; text-align:center; vertical-align:middle; background:rgba(0,0,0,0.2); border:0;}
.alen_effect:hover a.info { opacity:1; top:85px; -moz-transition-delay: 0.1s; -webkit-transition-delay: 0.1s; -o-transition-delay: 0.1s; -ms-transition-delay: 0.1s; transition-delay: 0.1s; }

.alen_effect .mask, .alen_effect .content { width: 100%; height: 100%; position: absolute; overflow: hidden; top: 0; left: 0; z-index:5; }
.alen_effect img { display: block; position: relative; }
.alen_effect a.info { background:url(/alen/common/link.png) center no-repeat; display: inline-block; text-decoration: none; padding:0; text-indent:-9999px; width:200px; height:200px; }



.alen_effect2 .mask {
	opacity: 0;
	overflow:visible;
	vertical-align:middle;
	background:rgba(0,0,0,0.2);
	border:0;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.alen_effect2 div.info { position:relative; top:45px; opacity: 0; -webkit-transition: opacity 0.3s 0s ease-in-out; -moz-transition: opacity 0.3s 0s ease-in-out; -o-transition: opacity 0.3s 0s ease-in-out; -ms-transition: opacity 0.3s 0s ease-in-out; transition: opacity 0.3s 0s ease-in-out; }
.alen_effect2:hover .mask { opacity: 1; text-align:center; vertical-align:middle; background:rgba(0,0,0,0.5); border:0;}
.alen_effect2:hover div.info { opacity:1; top:45px; -moz-transition-delay: 0.1s; -webkit-transition-delay: 0.1s; -o-transition-delay: 0.1s; -ms-transition-delay: 0.1s; transition-delay: 0.1s; }

.alen_effect2 .mask, .alen_effect .content { width: 100%; height: 100%; position: absolute; overflow: hidden; top: 0; left: 0; z-index:5; }
.alen_effect2 img { display: block; position: relative; }
.alen_effect2 div.info { background:url(../common/link2.png) center no-repeat; display: inline-block; text-decoration: none; padding:0; text-indent:-9999px; width:20px; height:20px; }









